*
!control/
!control/Dockerfile
!control/pyproject.toml
control/.venv
!control/src/
!control/src/**
!control/web/
!control/web/**
control/web/node_modules
control/web/dist
control/web/test-results
control/web/playwright-report
!inventory/
!inventory/wheels/
!inventory/wheels/dgx_agent_protocol-1.0.0-py3-none-any.whl
