[Unit]
Description=Vonk Forge root package helper
Documentation=https://github.com/vonk-forge/vonk-forge
Requires=vonk-forge-package-helper.socket vonk-forge-agent-supervisor.service
After=vonk-forge-agent-supervisor.service
PartOf=vonk-forge-agent.service vonk-forge-agent-supervisor.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/libexec/vonk-agent-supervisor run-package-helper
StandardInput=null
StandardOutput=journal
StandardError=journal
NoNewPrivileges=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=CAP_CHOWN
AmbientCapabilities=
UMask=0077
TimeoutStartSec=95s
StateDirectory=vonk-forge-package-helper
ReadWritePaths=/var/lib/vonk-forge-package-helper
